body {
    background-color: #e2e9ea;
    font-family: "Roboto Mono", sans-serif;
    color: black;
}

/*Heading layout */

.heading {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 300%;
    color: #a4bcc0;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}


/*Choices layout */

.choices {
    display: flex;
    justify-content:center;
    justify-items: center;
    gap: 33px;
    margin-top: 50px;


}

.choice {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 300ms;
    opacity: 0.85;
}


.choice img {

    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
   
}

.choice:hover {
    transform: scale(1.2);
    opacity: 1.0;

}

/* Score area layout */

.score-area {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 1.5rem;
    color: #a4bcc0;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.score-area span {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #a4bcc0;
}

.score-area h2 {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #3f747b;
}


/* Rules and history layout */

.rules-history-container h2 p {
    display: flex;
    justify-content: flex-start;

}

.rules-history-container {
    margin: 30px;
}



.rules-list li {
    list-style-type: none;
    margin-bottom: 18px;
    background-image: url('../images/atom-bullet-point.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0;
}

.rules-history-container h2 {
    color: #a4bcc0;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;

}

/* media queries */

@media screen and (max-width: 1460px) {
    .score-area h2 span {
        font-size: 65%;
    }
}
    @media screen and (max-width: 960px) {
        .heading {
            font-size: 150%;

        }
   
    }
